# Debug plugins
plugins/log-deprecated-notices
plugins/monster-widget
plugins/query-monitor
plugins/user-switching

# Uploads directory
uploads

# mu-plugins; these are managed at the platform-level
mu-plugins

# drop-ins; these are managed at the platform-level
object-cache.php
db.php
